/* **************************** common styles **************************** */
html, body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 100%;
  }
html { 
  background: #F5F8FA;
  }
body { 
  color: #333333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  }
/************* common styles ****************/
.clear {
  clear: both;
  }
a img {
  border: none;
  }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  color: #489344;
  }
a:link, a:visited, a:active,
a.normal:link, a.normal:visited, a.normal:active
{color: #000000; text-decoration: underline;}
a.normal:hover, a:hover {color: #000000; text-decoration: none;}

.contacts a:link, .contacts a:visited, .contacts a:active
{color: #489344; text-decoration: none;}
.contacts a:hover {color: #489344; text-decoration: underline;}

.point a:link, .point a:visited, .point a:active,
.book_now a:link, .book_now a:visited, .book_now a:active
{color: #ffffff; text-decoration: none;}
.point a:hover, .book_now a:hover {color: #ffffff; text-decoration: underline;}

.contact_us a:link, .contact_us a:visited, .contact_us a:active
{color: #003264; text-decoration: none;}
.contact_us a:hover {color: #003264; text-decoration: underline;}

.footer a:link, .footer a:visited, .footer a:active, .footer a:hover
{color: #333333; text-decoration: underline;}
.footer a:hover
{color: #333333; text-decoration: none;}


.top {
  width: 980px;
  height: 93px;
  background:url(top_bg.png) left bottom no-repeat;
  margin: 0px auto;
  position: relative;
  }
.header {
  width: 980px;
  height: 241px;
  margin: 0px auto;
  background:url(header_bg.jpg) top left no-repeat;
  position: relative;
  }
.header h1 {
  position: absolute;
  top: 23px;
  left: 26px;
  color: #ffffff;
  font-size: 30px;
  font-family: Georgia;
  }
.logo {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 200px;
  height: 75px;
  }
.contacts {
  position: absolute;
  top: 0px;
  right: 23px;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 110%; 
  padding: 15px 0px 0px 0px;
  }
.contacts p {
  margin: 0px;
  }
.contacts span {
  color: #489344;
  }
.page {
  width: 960px;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
  background: url(page_bg.gif) 10px 0px repeat-y #ffffff;
  }
/************ left_col ***************/
.left_col {
  width: 210px;
  float: left;
  background: #E7EBF0;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  }
.point {
  width: 210px;
  margin: 0px 0px 20px 0px;
  float: left;
  }
.point_top {
  width: 210px;
  height: 11px;
  float: left;
  background: url(point_top.png) top left no-repeat;
  }
.point_body {
  width: 108px;
  float: left;
  padding: 20px 50px;
  background: url(point_body.jpg) top left no-repeat #6584a3;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  text-align: center;
  }
.point_bottom {
  width: 210px;
  float: left;
  height: 11px;
  background: url(point_bottom.png) bottom left no-repeat;
  }
.point h3 {
  font-size: 135%;
  color: #ffffff;
  }
.contact_us {
  width: 150px;
  float: left;
  padding: 0px 40px 0px 20px;
  margin: 0px 0px 20px 0px;
  font-size: 90%;
  line-height: 120%; 
  }
.contact_us h3 {
  color: #489344;
  font-size: 160%;
  margin: 0px 0px 15px 0px;
  }
.contact_us p {
  margin: 0px 0px 15px 0px;
  }  
/****************** menu ************/
.menu {
  width: 200px;
  float: left;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px 0px 20px 0px;
  }
.menu a {
  line-height: 37px;
  display: block;
  width: 210px;
  } 
a.mainbuttontext, a.mainbuttontext:active, a.mainbuttontext:visited
  {
  text-decoration: none;
  color: #004589;
  }  
a.mainbuttontext:hover, a.mainbuttontext#active {
   text-decoration: none;
   color: #004589;
   background: url(menu_a_hover.gif) center left no-repeat;
   }
/****************** content ************/
.content {
  width: 689px;
  padding: 15px 26px 35px 35px;
  float: right;
  line-height: 140%;
  font-size: 75%;
  }
.content h1 {
  font-size: 185%;
  margin: 0px 0px 15px 0px;
  }
.content h2 {
  font-size: 160%;
  margin: 0px 0px 5px 0px;
  }
.content h3 {
  font-size: 150%;
  margin: 0px 0px 5px 0px;
  }
.content h4 {
  font-size: 130%;
  margin: 0px 0px 5px 0px;
  }
.content h5 {
  font-size: 110%;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  }
.content h6 {
  font-size: 100%;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  }
.content p {
  margin: 0px 0px 15px 0px;
  }
.content ul {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 20px;
  list-style-image:none;
  list-style-type:none;
  display: block;
  }
.content ul li {
  padding: 0px 0px 0px 20px;
  list-style-image:none;
  list-style-type:none;
  background: url(../images/li_bullet.gif) no-repeat 0px 6px;
  -background: url(../images/li_bullet.gif) no-repeat 0px 7px;
  }
.content ol li {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  }
.content ol {
  margin: 0px 0px 15px 0px;
  padding-left: 41px;
  }
/****** content_right_block ********/
.content_right_block {
  width: 208px;
  float: right;
  margin: 15px 0px 55px 35px;
  }
.book_now {
  width: 168px;
  height: 23px;
  background: url(book_now_bg.jpg) top left no-repeat;
  text-align: center;
  padding: 15px 20px;
  }
.book_now h3 {
  font-size: 22px;
  color: #ffffff;
  }

/**************** footer ***********/
.footer {
  height: 85px;
  width: 900px;
  background: url(footer_bg.png) top left no-repeat;
  padding: 0px 40px 0px 40px;
  margin: 0px auto;
  font-size: 11px;
  color: #333333;
  }
.footer p {
  margin: 0px 0px 15px 0px;
  line-height: normal;
  line-height: 80px;
  }
.right_p {
  display: block;
  float: right;
  }
.left_p {
  display: block;
  float: left;
  }